{% extends "base.html" %}
{% block content %}
<form action="/student_submissions/add" method="post">
	<div><textarea name="link" rows="1" cols="80"></textarea></div>
	<div><textarea name="description" rows="4" cols="80"></textarea></div>
	<div><input type="submit" value="Add Your Notes"></div>
</form>

<div class="student-notes">
	{% for sub in submissions %}
	<div class="student-note">
		<div class="student-notes-image">
		</div>
		<div class="student-notes-info">
			<div class="student-info">
				<span class="student-name">Andy</span>
				<span class="submission-date">{{ sub.date }}</span>
			</div>
			<div class="student-notes-summary">
				{{ sub.description }}
			</div>
		</div>
		<div class="view-student-notes">
			<a href="{{ sub.link }}" target="_blank">View Submission</a>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}